<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
</head>
<body>

<!--NavBar-->
<div class="w3-top">
    <div class="nav-bar" style="letter-spacing:4px;">
        <a href="#home" class="w3-bar-item w3-button">Pizza's Bar</a>

        <div class="w3-right w3-hide-small">
            <a href="/home" class="w3-bar-item w3-button nav-bar-item" >Home</a>
            <a href="" class="w3-bar-item w3-button nav-bar-item" >Meus pedidos</a>
            <a href="/logout" class="w3-bar-item w3-button nav-bar-item">Logout</a>
        </div>
    </div>
</div>

<!-- Menu Container -->
<div class="w3-container w3-black w3-padding-64 w3-xxlarge" id="menu">
    <div class="w3-content">

        <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">MENU</h1>
        <div class="w3-row w3-center w3-border w3-border-dark-grey"></div>
        <div th:each="pizza : ${pizzas}">
            <div id="Pizza"  class="w3-container menu w3-padding-32 w3-white">
                <h1><b th:text="${pizza.nome}"></b> <span class="w3-right w3-tag w3-dark-grey w3-round" th:text="${pizza.preco}"></span></h1>
                <h3> <span th:each="ingrediente : ${pizza.ingredientes}" > <span class="w3-text-grey" th:text="${ingrediente.nome}"></span></span></h3>
                <hr>
            </div>
        </div>

    </div>
</div>
<!-- final do meu container -->

<footer>
    <div class="row justify-content-center">
        <div class="col-md-5 text-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua.
            </p>
            <strong>Contact info</strong>
            <p>(99)9999-9999<br>pizzasbar@email.com</p>
            <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        <hr class="socket">&copy;Pizza's Bar.
    </div>

</footer>

</body>
</html>