body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}

.nav-bar{
    background-color: #202020;
    color:#ffffff;
    height: 50px;
}
.nav-bar-item{
    color:#ffffff;
}

.menu h1,h2,h3,h4,h5,h6 {
    font-family: "Amatic SC", sans-serif;
    margin-bottom: 0;
}

footer{
    background-color:#202020;
    color:white;
    padding: 2rem 0 3rem;
    margin-top:0;
}
footer img{
    height:3rem;
    width: 1.5rem;
}
footer a{
    color:white;
}
footer svg.svg-inline--fa{
    font-size:1.6rem;
    margin:1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover{
    color:#1ebba3;
}
hr.socket{
    border-top: .2rem solid #666b71;
    width:100%
}

#pizzas {
    margin-top: 70px;
    margin-right: 10px;
}

/*  ---- Modal ---- */
.modal-header, .modal-body, .modal-footer {
    background-color: #202020;
    color: #ffffff;
}