<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pizza's Bar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="w3-top">
    <div class="nav-bar" style="letter-spacing:4px;">
        <a href="#home" class="w3-bar-item w3-button">Pizza's Bar</a>
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a href="" class="w3-bar-item w3-button nav-bar-item">Menu</a>
            <a href="" class="w3-bar-item w3-button nav-bar-item" data-toggle="modal" data-target="#modalLogin">Login</a>
            <a href="" class="w3-bar-item w3-button nav-bar-item" data-toggle="modal" data-target="#modalCadastrar">Cadastre-se</a>
        </div>
    </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
    <img class="w3-image" src="img/pizza.jpg" alt="Hamburger Catering" width="1600" height="800">
    <div class="w3-display-bottomleft w3-padding-large w3-opacity">
        <h1 class="w3-xxlarge">Pizza's Bar</h1>
    </div>
</header>
<!-- About Section -->
<div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
        <img src="img/ambiente.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
        <h1 class="w3-center">About Catering</h1><br>
        <h5 class="w3-center">Tradition since 1889</h5>
        <p class="w3-large">The Catering was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute iruredolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.We only use <span class="w3-tag w3-light-grey">seasonal</span> ingredients.</p>
        <p class="w3-large w3-text-grey w3-hide-medium">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>

<!-- Modal Login -->
<div class="modal fade" id="modalLogin">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Entre na sua conta</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form method="post" action="login" id="form-login">
                    <div class="form-group">
                        <label for="login-email">Email</label>
                        <input type="email" class="form-control" name="email" id="login-email">
                    </div>
                    <div class="form-group">
                        <label for="login-senha">Senha</label>
                        <input type="password" class="form-control" name="senha" id="login-senha">
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"> Remember me
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary" form="form-login">Entrar</button>
                </form>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <a href="#modalCadastrar" data-toggle="modal" data-target="#modalLogin">
                    Não tem uma conta? Cadastre-se grátis</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>

            </div>

        </div>
    </div>
</div>

</div>

<!-- Modal Cadastrar -->
<div class="modal fade" id="modalCadastrar">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Cadastre-se</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form method="post" action="cliente" id="form-cadastrar">
                    <div class="form-group">
                        <label for="cadastrar-nome">Nome</label>
                        <input type="text" class="form-control" name="nome" id="cadastrar-nome">
                    </div>
                    <div class="form-group">
                        <label for="cadastrar-email">Email</label>
                        <input type="email" class="form-control" name="email" id="cadastrar-email">
                    </div>
                    <div class="form-group">
                        <label for="cadastrar-senha">Senha</label>
                        <input type="password" class="form-control" name="senha" id="cadastrar-senha">
                    </div>

                    <button type="submit" class="btn btn-primary" form="form-cadastrar">Cadastrar</button>
                </form>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                já tem uma conta?
                <button type="submit" class="btn btn-primary">Login</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>

            </div>

        </div>
    </div>
</div>

</div>

<!--Footer-->
<footer>
    <div class="row justify-content-center">
        <div class="col-md-5 text-center">

            <p>At our course is a collection of design and development solutions that
                represent everything your businessneeds to compet in the modern marketplace.
            </p>
            <strong>Contact info</strong>
            <p>(888)888-8888<br>email@nuno.com</p>
            <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        <hr class="socket">&copy;Pizza's Bar.
    </div><!--end of row-->

</footer>



</body>
</html>