<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<form method="post" action="finalizarpedido">
<label for="recebedor">Recebedor</label>
<input id="recebedor" class="form-control" name="recebedor">

<label for="pizzas">Pizzas: </label>
<select  id="pizzas" name="pizzas" class="form-control" multiple="multiple">

    <option th:each=" pizzas : ${listapizzas}" th:value="${pizzas}" th:text="${pizzas}" >
        <p th:text="${pizzas}"></p> </option>




</select>
    <button class="btn btn-dark" type="submit"> Finalizar pedido </button>
</form>



</body>
</html>