<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Imagem</title>
</head>
<body>
     <h2> upar Imagem </h2>
    <form action="imagem/salvar" method="post" enctype="multipart/form-data">
        <div>
            <input type="file" name="file">
        </div>
        <button type="submit"> salvar imagem </button>
        <div>
            <a href="imagem/mostrarimagem"> listar imagens</a>
        </div>

    </form>

</body>
</html>